
  body {
    background-color:rgb(33, 33, 33); 
  }
  p{color:white;
}
h2,h3,ul,li{color: #fff;}

  .site-footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 40px 0;
  }
  .site-footer a {
    color: #D1D1D1; /* White text for links */
  }
  .site-footer a:hover {
    color: #fff; /* Lighter color on hover */
  }
  .site-footer .widget h3 {
    color: #fff; /* White text for headings */
  }
  .site-footer .social a {
    color: #000; /* White icon color */
    background-color: transparent; /* Transparent background */
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  .site-footer .social a:hover {
    color: #ccc; /* Lighter icon color on hover */
  }
  